@font-face {
  font-family: SpaceGrotesk;
  src: url(../../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
@font-face {
  font-family: SevenSegment;
  src: url(../../assets/fonts/Seven\ Segment.ttf);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.floor-container {
  display: flex;
  flex-direction: column;
  width: 82vw;
  height: 85vh;
  padding: 4vh;
  background-color: #e9ecef;
}

.row-container {
  display: flex;
  flex: 1.5;
  justify-content: space-between;
}

.center-container {
  display: flex;
  flex: 5;
  flex-direction: row;
  align-items: center;
  height: 50vh;
}

.room-duo {
  display: flex;
  justify-content: space-between;
}

.room {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 6vw;
  height: 15vh;
  border: 0.33vh solid #8392ab83;
  border-radius: 0.5vh;
  cursor: pointer;
}

.room-num {
  margin: 0 0;
  font-family: "SpaceGrotesk";
  font-weight: 500;
  font-size: 3vmin;
  color: rgba(31, 33, 36, 0.849);
  padding-top: 1vh;
}

.facilities-container {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgba(33, 82, 255, 1) 10%,
    rgba(33, 212, 253, 1) 100%
  );

  border-radius: 400px;
  height: 10vmin;
  width: 10vmin;
}

.icon-image {
  height: 12vmin;
  width: 12vmin;
}

.staircase-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  max-height: 50%;
}

.staircase {
  margin-bottom: 0.6vmin;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 0.4s;
}

.hilton-num {
  margin: 0 0;
  flex: 5;
  font-family: "SpaceGrotesk";
  font-size: 28vmin;
  color: rgba(52, 71, 103, 0.15);
  cursor: default;
  user-select: none;
}

.current-floor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.floor-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vh;
  border: 0.33vmin solid rgba(31, 33, 36, 0.849);
  width: 7.5vmin;
  height: 11vmin;
  overflow: hidden;
}

.floor-nums-container {
}

.floor-num {
  font-size: 5.5vmin;
  font-family: "SevenSegment";
  margin: 0 0;
  padding: 0.9vh 0;
}

.arrow {
  width: 8vmin;
  height: 8vmin;
  cursor: pointer;
}

.preview-rooms-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.55vmin;
}

.attendent-status {
  width: 0.75vw;
  height: 1.5vmin;
  border-radius: 0.5vmin;
}

#unattendent {
  background: linear-gradient(
    135deg,
    rgba(255, 102, 124, 1) 20%,
    rgba(234, 6, 6, 1) 73%
  );
}
#attendent {
  background: linear-gradient(
    135deg,
    rgba(152, 236, 45, 1) 20%,
    rgba(23, 173, 55, 1) 73%
  );
}
